*, :before, :after{ box-sizing: border-box; }
body{ padding: 2em; }

.parent,
.child{
  padding: 2em;
}

.parent{
  background: pink;
  position: relative;
  margin: 2em 0;
  
  .headline{
    position: absolute; // <-- change this to relative and then adjust the "top" value to keep this outside parent
    left: 0; top: -1.2em;
  }
}

.child{
  background: lightblue;
  width: 16em;
  // Change:
  // float: right; margin-left: 2em;
  // to:
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
// the clearfix hack via Nicolas Gallagher --> just add this class to the parent of the floated div
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
